@mixin ita-theme {
  --ita-border-color: #afafaf;
  --ita-header-heading-margin-inline: var(--utrecht-space-inline-md);
  --ita-footer-link-list-column-gap: 4vw;
  --ita-dashboard-tables-column-gap: 4vw;
  --ita-dashboard-tables-column-gap: 4vw;
  --ita-cv-details-sections-column-gap: 1rem;
  --ita-cv-details-sections-row-gap: 1rem;
  --ita-detail-section-border-width: 1px;
  --ita-detail-section-border-color: var(--ita-border-color);
  --ita-detail-section-body-padding-inline-start: 1rem;
  --ita-detail-section-body-padding-inline-end: 1rem;
  --ita-detail-section-header-padding-inline-start: 1rem;
  --ita-detail-section-header-padding-inline-end: 1rem;
  --ita-detail-section-header-padding-block-start: 0.5rem;
  --ita-detail-section-header-padding-block-end: 0.5rem;
  --ita-detail-section-header-background-color: rgba(36, 87, 143, 0.2);
  --ita-step-padding-block-end: 0.8rem;
  --ita-step-border-bottom-width: 1px;
  --ita-step-border-bottom-color: rgba(0, 0, 0, 0.6);
  --ita-step-body-row-gap: 0.75rem;
  --ita-step-meta-list-column-gap: 0.8rem;
  --ita-step-meta-list-row-gap: 1rem;
  --ita-step-distance: 1rem;
  --ita-interne-toelichting-section-border-inline-width: 4px;
  --ita-interne-toelichting-section-border-inline-style: solid;
  --ita-interne-toelichting-section-border-inline-color: var(
    --utrecht-spotlight-section-border-color
  );
  --ita-radio-tabs-border-block-end: 1px solid var(--ita-border-color);
  --ita-radio-tabs-label-padding-block: 1rem;
  --ita-radio-tabs-label-padding-inline: 1rem;
  --ita-radio-tabs-label-border-block-width: 4px;
  --ita-radio-tabs-label-border-block-style: solid;
  --ita-radio-tabs-label-border-block-color: transparent;
  --ita-radio-tabs-label-checked-color: var(--utrecht-color-blue-40); // --utrecht-color-blue-95
  --ita-radio-tabs-label-checked-background-color: hsl(211 60% 95%);
  --ita-radio-tabs-label-checked-border-color: var(--utrecht-radio-button-checked-border-color);
}
