@mixin ita-theme {
  --ita-header-heading-margin-inline: var(--utrecht-space-inline-md);
  --ita-footer-link-list-column-gap: 4vw;
  --ita-dashboard-tables-column-gap: 4vw;
  --ita-dashboard-tables-column-gap: 4vw;
  --ita-cv-details-sections-column-gap: 1rem;
  --ita-cv-details-sections-row-gap: 1rem;

  --ita-detail-section-border-width: 1px;
  --ita-detail-section-border-color: #afafaf;

  --ita-detail-section-body-padding-inline-start: 1rem;
  --ita-detail-section-body-padding-inline-end: 1rem;

  --ita-detail-section-header-padding-inline-start: 1rem;
  --ita-detail-section-header-padding-inline-end: 1rem;
  --ita-detail-section-header-padding-block-start: 0.5rem;
  --ita-detail-section-header-padding-block-end: 0.5rem;
  --ita-detail-section-header-background-color: rgba(36, 87, 143, 0.2);

  --ita-step-padding-block-end: 1.5rem;
  --ita-step-border-bottom-width: 1px;
  --ita-step-border-bottom-color: rgba(0, 0, 0, 0.6);
  --ita-step-meta-list-column-gap: 1rem;
  --ita-step-meta-list-row-gap: 1rem;
  --ita-step-distance: 1rem; 
  --ita-step-note-border-width: 5px;
  --ita-step-note-border-style: solid;
  --ita-step-note-border-color: var(--utrecht-color-blue-40);
}
