@mixin ita-theme {
  --ita-header-heading-margin-inline: var(--utrecht-space-inline-md);
  --ita-footer-link-list-column-gap: 4vw;
  --ita-dashboard-tables-column-gap: 4vw;
  --ita-cv-details-sections-column-gap: 4vw;
}
