@use "@utrecht/design-tokens/dist/mixin-theme" as utrecht;
@use "./mixin-theme" as ita;

//utrecht token reference: https://github.com/nl-design-system/utrecht/tree/1c1816b91de1dfcd9083b08b839c53f4eed79dfd/proprietary/design-tokens/src/common/utrecht

.ita-theme {
  // use utrecht-theme as default for ita-theme
  @include utrecht.utrecht-theme;

  // overrides for ita-theme
  --utrecht-space-around: 1.5;
  --utrecht-surface-background-color: var(--utrecht-color-white);
  --utrecht-page-header-padding-block-start: 0.675rem;
  --utrecht-page-header-padding-block-end: 0.675rem;
  --utrecht-page-header-background-color: var(--utrecht-color-blue-35);
  --utrecht-page-header-color: var(--utrecht-color-white);
  --utrecht-nav-bar-background-color: transparent;
  --utrecht-nav-bar-color: var(--utrecht-color-white);
  --utrecht-logo-max-block-size: auto;
  --utrecht-logo-max-inline-size: 24rem;
  --utrecht-logo-min-block-size: 3rem;
  --utrecht-logo-min-inline-size: 18rem;
  --utrecht-page-max-inline-size: 94rem;
  --utrecht-link-color: var(--utrecht-color-green-30);
  --utrecht-link-focus-color: var(--utrecht-color-green-40);
  --utrecht-table-header-background-color: var(--utrecht-color-grey-90);
  --utrecht-unordered-list-marker-color: var(--utrecht-color-green-30);
  --utrecht-page-footer-background-color: var(--utrecht-color-green-30);
  --utrecht-page-footer-background-image: none;
  --utrecht-alert-margin-block-end: var(--utrecht-space-block-xs);
  --utrecht-spotlight-section-background-color: var(--utrecht-color-grey-95);
  --utrecht-spotlight-section-border-color: var(--utrecht-color-blue-40);
  --utrecht-spotlight-section-padding-block-start: var(--utrecht-space-block-xs);
  --utrecht-spotlight-section-padding-block-end: var(--utrecht-space-block-xs);

  // den haag
  --denhaag-contact-timeline-step-header-line-height: 27px;
  --denhaag-contact-timeline-step-header-date-width: 15ch;
  --denhaag-contact-timeline-step-header-channel-width: 80px;
  --denhaag-contact-timeline-step-header-toggle-gap: 4px;
  --denhaag-contact-timeline-step-marker-connector-desktop-margin-inline-start: calc(
    var(--denhaag-contact-timeline-step-header-date-width) + 16px
  );
  --denhaag-contact-timeline-step-details-desktop-margin-inline-start: 295px;
  --denhaag-contact-timeline-step-details-mobile-margin-inline-start: 32px;
  --denhaag-contact-timeline-step-details-sender-margin-block-start: 16px;
  --denhaag-contact-timeline-step-details-file-margin-block-start: 24px;
  --denhaag-contact-timeline-step-details-file-margin-block-end: 24px;
  --denhaag-contact-timeline-step-details-file-mobile-margin-block-end: 32px;
  --denhaag-contact-timeline-step-meta-gap: 6px;
  --denhaag-contact-timeline-step-meta-marker-size: 4px;
  --denhaag-contact-timeline-step-padding-block-end: 32px;
  --denhaag-step-marker-size: 32px;
  --denhaag-step-marker-nested-size: 16px;
  --denhaag-step-marker-default-background-color: var(--utrecht-color-grey-90);
  --denhaag-step-marker-connector-outline-color: var(--utrecht-color-grey-90);
  --denhaag-step-marker-default-color: var(--utrecht-color-grey-90);
  --denhaag-process-steps-step-heading-not-checked-color: var(--utrecht-color-blue-40);
  --denhaag-process-steps-step-heading-checked-color: var(--utrecht-color-blue-40);
  --denhaag-process-steps-step-meta-color: rgba(0, 0, 0, 0.6);
  --denhaag-process-steps-step-meta-font-size: 0.875rem;

  // custom ita-theme tokens
  @include ita.ita-theme;
}
